*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
}
.navi{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}
h3{
  color: #fff;  
}
/* .br{
    border: 2px rgb(224, 217, 217) solid;
} */
.brnav{
    display: flex;
    justify-content: space-between;
}
.navitems{
    list-style: none;
    /* border: 2px rgb(224, 217, 217) solid; */
    padding-top: 5px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    transition-property: background-color , box-shadow , color ,border-radius ;
    cursor: pointer;
    transition-duration: 0.5s;
}
.navitems:hover{
    background-color: #fff;
    border-radius: 20px 20px;
    color: #0d6efd;
    box-shadow: 2px 2px 10px rgb(238, 238, 238);
    border: none;
}
.brnav2{
    display: none;
}
.brnav2 div div{
    padding: 10px;
    color: #fff;  
    font-weight: 600; 
    text-transform: capitalize;
    cursor: pointer;
}
.brnav2 div div:hover{
    /* background-color: #fff; */
    border: #ffffff 2px solid;
    /* animation: animate 4s linear; */
}
.text{
    position: absolute;
    top: 30%;
    z-index: 3;
    width: 98%;
    background: rgba(14, 13, 13, 0.7);
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.smlMenu{
    display: none;
    transition-property: display , width , height;
    transition-duration: 0.5s;
}
.mnu{
    width: 50px;
    height: 50px;
}
.container{
    width: 100%;
    margin: auto;
    /* padding: 0; */
    /* margin: 0; */
}

.about1{
    height: 16.3rem;
    padding: 0;
    margin: 0;
}
 .aboutImg{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 20px;
 }
 .ptag{
    background: rgb(221, 221, 221);
    padding: 2rem;
    border-radius: 20px;
    
 }
ul{
    margin-left:5%;
    background: rgb(221, 221, 221);
    padding: 2rem 3rem;
    border-radius: 20px;
    margin-right: 50px;
}

/* background-image: linear-gradient(rgba(252, 214, 0, 0.7),rgba(6, 56, 255, 0.7)),url(headerimage1.jpg); */
.txtVsn{
    background-color: rgb(221, 221, 221);
    padding: 2rem;
    border-radius: 20px 2px 20px 2px;
    color: #fff;
}
.commiti{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.commiti div{
    /* border: 2px red solid; */
    padding: 0 1rem;
    color: transparent;
    box-shadow: 0 0 15px rgb(252, 4, 4);
    transition-property: box-shadow color border-radius;
    transition-duration: 0.5s;
}
.bx1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url(c1.jpg);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.bx2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url(c3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bx3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url(c4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bx4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url(c5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bx5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url(c6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bx6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url(c7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bx7 h4{
    color: #fff;
}
.bx8 h4{
    color: #fff;
}
.bx7{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url(c8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 1rem;
    color: transparent;
    box-shadow: 0 0 15px rgb(252, 4, 4);
   transition-property: box-shadow , border-radius , color;
    transition-duration: 0.5s;
    font-weight: 700;
}
.bx8{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url(c5.jpg);
    color: transparent;
    box-shadow: 0 0 15px rgb(252, 4, 4);
   transition-property: box-shadow , border-radius , color;
    transition-duration: 0.5s;
    font-weight: 700;
}
.bx8:hover{
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 10px rgb(5, 5, 5);
}
.bx8 div{
    display: flex;
}
.bx8 div ul{
    background: none;
    margin: 10px;
    padding: 10px;
}
.bx8 div ul li{
    margin: 0.5rem 1rem;
}
/* .bx9{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url(c2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0%;
    padding: 0;
    color: transparent;
    box-shadow: 0 0 10px rgb(252, 4, 4);
    transition-property: box-shadow , border-radius , color;
    transition-duration: 0.5s;
}
.bx9:hover{
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 10px rgb(5, 5, 5);

}
.bx9 h4{
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.bx9 div div ul{
    background: none;
    border: none;
    transition: background-color 1s;
} */
.bx7 div div ul{
    background: none;
    border: none;
    transition: background-color 1s;
}
.bx7:hover{
    color: #fff;
    box-shadow: 0 0 25px rgb(5, 5, 5);
    border-radius: 30px 0 30px 0;
}
.bx7 div div ul:hover{
    background-color: rgb(7, 7, 7);
}
.commiti div h4{
    color: white;
    font-weight: 700;
}
.commiti div:hover {
    color: #fff;
    /* background-color: #c6ddff; */
    box-shadow: 0 0 25px rgb(5, 5, 5);
    border-radius: 30px 0 30px 0;
}
.carousel-inner{
    margin: auto;
}
.footer{
    background: black;
    color: #fff;
    justify-content: space-around;
}
.fotrImg{
    display: flex;

}
.fotrImg img{
    height: 50px;
    width: 50px;
}

@media screen and (max-width : 1024px) {
    .navitems{
        font-size: 14px;
    }
}
@media screen and (max-width : 886px) {
    .navitems{
        font-size: 12px;
    }
    .container{
        width: 100%;
    }
}
@media screen and (max-width : 768px) {
    .brnav{
        display: none;
    }
    .brnav2{
        display: flex;
        flex-direction: column;
        justify-content: right;
        border: 1px solid red;
        align-items: flex-end;
    }
    .text{
        top:15%;
        width: 100%;
    }
    .text h2{
        font-size: 12px;
    }
    .text h4{
        font-size: 12px;
    }
}
.img{
    width: 100%;
    height: 38rem;
}
.imgy{
    width: 100%;
    height: 37rem;
    margin: 0;
    padding: 0;
}

.paper{
    background-image: url(sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paper div{
    background-color: rgba(253, 253, 253,0.8) ;
}
.paper div h4{
    text-transform: capitalize;
}
.impDate{
    display: flex;
    justify-content: center;
    /* align-items: center;  */
}
.impDate div{
    box-shadow: 0 0 5px black;
    margin-left: 1rem;
    text-align: center;
    color: orangered;
    font-weight: 600;
    padding-top: 1rem;
    cursor: pointer;
    transition-property: color , background-color , box-shadow , border-radius ;
    transition-duration: 1s;
}
.impDate div:hover{
    color: black;
    background-color: orangered;
    border-radius: 10px;
}
@media screen and (max-width : 900px) {
    .container-fluid{
        width: 100%;
    }
}
.active{
    background-color: #fff;
    border-radius: 20px 20px;
    color: #0d6efd;
    box-shadow: 2px 2px 10px rgb(238, 238, 238);
    border: none;
}
